@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Onest:wght@400;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Onest', sans-serif;
}

#app {
    width: 100%;
    height: 100vh;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red {
    color: whitesmoke;
    background-color: red;
}

.green {
    color: whitesmoke;
    background-color: green;
}

.blue {
    color: whitesmoke;
    background-color: blue;
}

.orange {
    color: whitesmoke;
    background-color: orange;
}

.purple {
    color: whitesmoke;
    background-color: purple;
}

.pink {
    color: whitesmoke;
    background-color: pink;
}